<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <meta name="description" content="National Park Visit">
    <meta name="author" content="TAD">

    <link rel="icon" href="{{ url_for('static', filename='img/icon/small.png') }}">

    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <!-- <link href="{{ url_for('static', filename='css/logo-nav.css') }}" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/mycss.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Custom style for the footer -->
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 25px;
            background-color: #000000;
            color: white;
            text-align: center;
        }
    </style>

</head>

<body>
    {% block content %} {% endblock %}

</body>

<div class="footer" style="font-size: 18px;">
    <p>&copy;
        <a href="https://tdody.github.io">
            <font color="white"> Thibault Dody </font>
        </a>
    </p>
</div>

</html>