{% extends "base.html" %} {% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/icon/medium.png') }}" width="30" alt=""></a>
        <h1><span style="color: rgb(11, 75, 79)">&nbsp;&nbsp;&nbsp;usparks</span><span style="color: #dd872a">.io</span></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="font-size: 20px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('model') }}">Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content-->
<br><br><br><br>
<div class="container">
    <div id="logo">
        <img src="static/img/icon/large.png" style="width:20%;margin-left: 40%;margin-right: 40%;margin-top: 5%;">
    </div>
    <h1 style="text-align: center;font-size: 50px;"><span style="color: rgb(11, 75, 79)">usparks</span><span style="color: #dd872a">.io</span></h1>

    <br><br><br>
    <div id="whichpark" style="text-align: center;">
        <h4 class="text-muted" style=" font-size: 20px;">Pick an U.S. National Park to explore?</h4>
    </div>
    <div id="warning" class="text-muted" style="text-align:center; vertical-align:middle">
        <span style="color: #dd872a">{{message}}</span>
    </div>
    <form action="/explore" method="get" id="parksearch" name="parksearch">
        <div id="input" class="input" style="text-align:center; vertical-align:middle;font-size: 15px;">
            {{ form.autocomp(placeholder="e.g. Yellowstone National Park") }}
        </div>
    </form>
    <script>
        $(function() {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
            }).done(function(data) {
                $('#park_autocomplete').autocomplete({
                    source: data,
                    minLength: 2,
                    position: {
                        my: "left top",
                        at: "left bottom",
                        collision: "none",
                    }
                });
            });
        });
    </script>

</div>
{% endblock %}